ansible==13.0.0
ansible-core==2.20.0
astroid==4.0.2
bcrypt==5.0.0
boto==2.49.0
cffi==2.0.0
cryptography==46.0.3
dill==0.4.0
dnspython==2.8.0
ec2==0.4.0
firewall==0.2.0
isort==7.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mccabe==0.7.0
packaging==25.0
passlib==1.7.4
pathspec==0.12.1
platformdirs==4.5.0
pycparser==2.23
pylint==4.0.4
python-gnupg==0.5.5
PyYAML==6.0.3
resolvelib==1.2.1
setuptools==80.9.0
tomlkit==0.13.3
wheel==0.45.1
yamllint==1.37.1
